@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  max-width: 100%;
  font-weight: 300;
  scroll-behavior: smooth;
}

section {
  width: 100%;
  min-height: 100vh;
  margin-top: 0;
}

footer {
  margin: 0;
  padding: 0;
}

.banner {
  position: relative;
  width: 52%;
  margin-left: auto;
  margin-right: auto;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-style: dotted;
  border-color: white;
  border-bottom-width: 2.5px;
  text-transform: uppercase;
}

.banner h1 {
  float: right;
  margin-left: 15px;
  font-size: 28px;
  font-weight: 400;
}

.grid-container {
  margin-top: 40px;
  clear: both;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px 25px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 2px;
  width: 52%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.grid-container .grid-item {
  background-color: white;
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 152px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container .grid-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-container .grid-item p {
  position: relative;
  left: 0;
  top: -85px;
  color: white;
  font-weight: 400;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 22px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px;
  text-transform: uppercase;
  -webkit-filter: none !important;
          filter: none !important;
}

.grid-container .grid-text {
  color: white;
  text-align: justify;
  margin-bottom: 15px;
}

section.main {
  width: 100%;
  height: 100vh;
}

section.main img.logo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-left: 450px;
  z-index: 2000;
}

section.main .mainpage header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px 30px 100px;
  z-index: 1005;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #05385f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#05385f), to(#053c5d));
  background-image: linear-gradient(#05385f, #053c5d);
}

section.main .mainpage header #search {
  position: absolute;
  right: 23px;
  top: 37px;
  font-size: 32px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

section.main .mainpage header #szukaj {
  position: absolute;
  right: 125px;
  top: 42px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

section.main .mainpage header #wyslij {
  position: absolute;
  right: 70px;
  top: 42px;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  height: 20px;
  width: 50px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

section.main .mainpage header #searchcheck {
  display: none;
}

section.main .mainpage header #searchcheck:not(:checked) ~ .wyszukiwarka {
  display: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

section.main .mainpage header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52%;
  height: 100%;
  margin: 0 640px;
  padding: 0;
}

section.main .mainpage header ul li {
  position: relative;
  list-style: none;
  padding: 0;
  padding: 12px 21px 0 21px;
}

section.main .mainpage header ul li a, section.main .mainpage header ul li img {
  position: relative;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 21px;
  font-family: 'Lato', sans-serif;
}

section.main .mainpage header .nav a:hover {
  text-decoration: underline;
}

section.main .mainpage .photoslide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

section.main .mainpage .photoslide .maintext {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 46vh;
  margin-left: 9.5%;
  width: 100%;
  z-index: 1000;
}

section.main .mainpage .photoslide .maintext h1 {
  text-align: left;
  color: white;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 1px;
}

section.main .mainpage .photoslide .maintext span {
  float: right;
  text-align: right;
  color: white;
  font-weight: 500;
  font-size: 24px;
  padding-top: 18px;
}

section.main .mainpage .photoslide .firstplan {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-left: 7px;
  width: 99%;
}

section.main .mainpage .photoslide .firstplan .bgwhite {
  background-color: white;
  width: 45%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-right: 10px;
}

section.main .mainpage .photoslide .firstplan .bgwhite img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
}

section.main .mainpage .photoslide .firstplan .bgwhite input {
  background-color: white;
  width: 43%;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 55.5%;
  margin-top: 12px;
  z-index: 99;
  border: 2px lightgray solid;
}

section.main .mainpage .photoslide .firstplan .bgwhite p {
  position: absolute;
  vertical-align: center;
  line-height: 55px;
  font-size: 127%;
  font-weight: 400;
  margin-left: 90px;
  margin-top: 2px;
}

section.main .mainpage .photoslide .firstplan button {
  width: 7%;
  height: 55px;
  background-color: white;
  color: black;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 21px;
}

section.main .mainpage .photoslide .autoplay img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.main .mainpage .photoslide .autoplay .slick-dots {
  position: relative;
  list-style-type: square;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%;
  z-index: 999;
  margin-top: -175px;
  margin-left: 21%;
}

section.main .mainpage .photoslide .autoplay .slick-dots li {
  position: relative;
  display: inline-block;
  height: 16px;
  width: 2%;
  margin: 15px 5px;
  padding: 0px;
  background-color: white;
  cursor: pointer;
}

section.main .mainpage .photoslide .autoplay .slick-dots li button {
  border: 0;
  background: transparent;
  display: none;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

section.main .mainpage .photoslide .autoplay .slick-dots li button:focus {
  outline: none;
}

section.main .mainpage .photoslide .autoplay .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2022';
  font-family: "slick";
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
}

section.main .mainpage .photoslide .autoplay .slick-dots li.slick-active {
  background-color: #05385f;
}

section.main .mainpage #check {
  display: none;
}

section.main .mainpage #check:not(:checked) ~ .sidebar {
  margin-left: 0px;
}

section.main .mainpage #check:not(:checked) ~ .sidebar div {
  margin-left: 20px;
}

section.main .mainpage #triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid gray;
  margin: 30px auto 0;
  position: fixed;
  top: 487px;
  left: 10px;
  z-index: 1005;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

section.main .mainpage #check:not(:checked) ~ label #triangle {
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 15px solid gray;
  position: fixed;
  top: 487px;
  left: 182px;
  z-index: 1005;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

section.main .mainpage #scrollingtriangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid gray;
  margin: 30px auto 0;
  position: fixed;
  top: 360px;
  left: 10px;
  z-index: 1005;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

section.main .mainpage #check:not(:checked) ~ #labeltriangle .scrollingtriangle {
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 15px solid gray;
  position: fixed;
  top: 360px;
  left: 182px;
  z-index: 1005;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

section.main .mainpage #check:checked ~ label .scrollingtriangle {
  top: 360px;
}

section.main .mainpage .sidebar {
  position: fixed;
  top: 0;
  width: 210px;
  margin-left: -170px;
  background: white;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  height: 100%;
  -webkit-box-shadow: 5px 5px 20px #182019;
          box-shadow: 5px 5px 20px #182019;
  z-index: 1002;
}

section.main .mainpage .sidebar .sidebarcontent {
  margin-top: 177px;
  height: 100vh;
  -webkit-transition: 1s;
  transition: 1s;
}

section.main .mainpage .sidebar .sidebarcontent a {
  display: block;
  color: black;
  height: 33px;
  width: 127px;
  line-height: 18px;
  font-size: 21px;
  text-decoration: none;
  margin: 0px 0 0px 30px;
  font-weight: 400;
}

section.main .mainpage .sidebar .sidebarcontent a:hover {
  font-weight: bold;
}

section.main .mainpage .sidebar .sidebarcontent hr {
  border-style: none;
  border-bottom: 2.5px dotted black;
  padding-top: 6px;
  width: 100px;
}

section.main .mainpage .sidebar .sidebarcontent #link1 {
  font-size: 28px;
  margin: 10px 31px;
}

section.main .mainpage .sidebar .sidebarcontent #link2 {
  font-size: 32px;
  margin: 20px 34px;
}

section.main .mainpage .sidebar .sidebarcontent a.relacje {
  line-height: 30px;
  margin-bottom: 36px;
}

section.main .mainpage .sidebar .sidebarcontent .secondline {
  padding-top: 12px;
}

section.main .mainpage .sidebar .scrollingsidebar {
  margin-top: 50px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

section.branze {
  background-color: #05385f;
  min-height: 102vh;
}

section.branze .banner h1 {
  color: white;
  margin-top: 17px;
}

section.branze .banner img {
  width: 80px;
  margin-top: 17px;
}

section.branze .grid-container .grid-item {
  cursor: pointer;
}

section.branze .grid-container .grid-item img {
  -webkit-filter: brightness(55%);
          filter: brightness(55%);
}

section.branze .grid-container .grid-item img:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

section.branze .grid-container .grid-item p {
  -webkit-filter: brightness(100%) !important;
          filter: brightness(100%) !important;
}

section.branze .grid-container .grid-item p:hover + .grid-item img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

section.produkty {
  min-height: 103.5vh;
}

section.produkty .banner {
  position: relative;
  width: 52%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -22px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-style: dotted;
  border-color: black;
  border-bottom-width: 2.5px;
}

section.produkty .banner img {
  width: 58px;
}

section.produkty .grid-container {
  margin-top: 55px;
  margin-bottom: 84px;
  clear: both;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px 25px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 2px;
  width: 52%;
  margin-left: auto;
  margin-right: auto;
}

section.produkty .grid-container .grid-text {
  color: black;
  font-size: 22px;
}

section.produkty .grid-container .grid-text p.indent {
  text-indent: 30px;
}

section.produkty .grid-container-round {
  clear: both;
  display: -ms-grid;
  display: grid;
  grid-gap: 13% 5%;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  padding: 2px;
  width: 53%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

section.produkty .grid-container-round .grid-item-round {
  background-color: #053c5d;
  font-size: 21px;
  text-align: center;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 6px 2px black inset;
          box-shadow: 0 0 6px 2px black inset;
  display: table;
}

section.produkty .grid-container-round .grid-item-round div {
  font-weight: 400;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

section.produkty .grid-container-round .grid-item-round div span {
  display: block;
}

section.uslugi {
  min-height: 101vh;
  background-color: #05385f;
  color: white;
}

section.uslugi .banner {
  margin-top: -5px;
}

section.uslugi img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  height: 60px;
}

section.uslugi .grid-container {
  margin-top: 60px;
  clear: both;
  display: -ms-grid;
  display: grid;
  grid-gap: 0px 0px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 2px;
  width: 52%;
  margin-left: auto;
  margin-right: auto;
  /*#one{
      img{
        height: 60px; padding-left:70px;
      }
      p{
        padding-left:70px; margin-top: -10px;
      }
    }
    #two{
      img{
        height: 43px; padding-right:55px; margin-top: 20px;
      }
      p{
        padding-right:50px; margin-top: -10px;
      }
    }
    #three{
      img{
        height: 52px; padding-left: 10px; margin-top: -2px;
      }
      p{
        padding-left: 8px; margin-top: -5px;
      }
    }
    #four{
      img{
        height: 78px; padding-left: 55px; margin-top: 5px;
      }
      p{
        padding-left: 42px; margin-top: -7px; position: absolute; max-width: 19%;
      }
    }
    #five{
      img{
        height: 48px; padding-right: 30px; margin-top: 36px;
      }
      p{
        padding-right: 20px; margin-top: -8px;
      }
    }*/
}

section.uslugi .grid-container .grid-item-transparent {
  text-align: center;
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.uslugi .grid-container .grid-item-transparent p {
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 20px;
}

section.uslugi .grid-container .grid-item-transparent img {
  height: 52px;
}

section.uslugi .grid-container-text {
  margin-top: 110px;
  clear: both;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px 40px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 2px;
  width: 52%;
  margin-left: auto;
  margin-right: auto;
}

section.uslugi .grid-container-text .grid-text {
  color: white;
  font-size: 21px;
  text-align: justify;
  margin-bottom: 15px;
}

section.aktualnosci {
  min-height: 102vh;
}

section.aktualnosci .banner {
  position: relative;
  width: 52%;
  margin-left: auto;
  margin-right: auto;
  height: 170px;
  margin-top: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-style: dotted;
  border-color: black;
  border-bottom-width: 2.5px;
}

section.aktualnosci .contentnews {
  width: 44%;
  margin-top: 80px;
}

section.aktualnosci .contentnews .news .slick-slide {
  width: 12.5% !important;
}

section.aktualnosci .contentnews .news .wiecej {
  padding-top: 22px;
  line-height: 10px;
  cursor: pointer;
}

section.aktualnosci .contentnews .news p {
  margin-bottom: 10px;
  width: 80%;
  font-size: 13px;
}

section.aktualnosci .contentnews .news .article {
  font-size: 12px;
  padding-bottom: 30px;
}

section.aktualnosci .contentnews .news h4 {
  margin-bottom: 5px;
}

section.aktualnosci .contentnews .news h4 a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 14px;
}

section.aktualnosci .contentnews .news hr {
  border-style: none;
  border-bottom: 2.5px dotted gray;
  padding-bottom: 6px;
  width: 20%;
}

section.aktualnosci .contentnews .news .divimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
  margin-bottom: 30px;
}

section.aktualnosci .contentnews .news .divimage a {
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
}

section.aktualnosci .contentnews .news .divimage a img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

section.kontakt {
  min-height: 100vh;
  background-color: #05385f;
}

section.kontakt .banner {
  width: 44%;
  margin-top: 8px;
}

section.kontakt .banner img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

section.kontakt .banner h1 {
  color: white;
}

section.kontakt .grid-container {
  border-bottom-style: dotted;
  border-color: white;
  border-bottom-width: 2.5px;
  width: 44%;
  color: white;
}

section.kontakt .grid-container i {
  color: black;
  font-size: 53px;
  padding-bottom: 10px;
}

section.kontakt .grid-container .grid-sm {
  text-align: center;
  margin-left: 52%;
  width: 70%;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

section.kontakt .grid-container .grid-sm .fab {
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 25px;
}

section.kontakt .grid-container .grid-work {
  padding-left: 35px;
}

section.kontakt .grid-container .grid-text {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16.5px;
  margin-bottom: 40px;
  padding-top: 4px;
  display: -ms-grid;
  display: grid;
  float: left;
}

section.kontakt .grid-container .grid-form {
  width: 160%;
}

section.kontakt .grid-container .grid-form p {
  text-align: right;
}

section.kontakt .grid-container .grid-form p.zadajpytanie {
  text-align: left;
  color: white;
  visibility: hidden;
}

section.kontakt .grid-container .grid-form form {
  margin-top: -35px;
  margin-bottom: 40px;
}

section.kontakt .grid-container .grid-form form input[type=text],
section.kontakt .grid-container .grid-form form input[type=tel],
section.kontakt .grid-container .grid-form form input[type=email] {
  display: inline-block;
  width: 100%;
  border: none;
  width: 100%;
  height: 32px;
  margin-bottom: 15px;
}

section.kontakt .grid-container .grid-form form p {
  text-align: left;
  padding-top: -5px;
}

section.kontakt .grid-container .grid-form form label {
  padding-right: 28px;
}

section.kontakt .grid-container .grid-form form button.wyslij {
  background-color: white;
  color: lightgray;
  width: 115px;
  height: 50px;
  outline: none;
  border: none;
  float: right;
  margin-top: -35px;
  cursor: pointer;
}

section.kontakt .grid-container .grid-form form input.tresc {
  height: 85px;
  line-height: 1.2;
  padding-bottom: 50px;
}

section.kontakt .grid-container .grid-form form input.tresc textarea {
  vertical-align: top;
  line-height: 1.2;
  font-size: 16px;
  height: 200px;
}

section.kontakt .grid-container .grid-form form input[type="checkbox"]::-ms-check {
  display: none;
}

section.kontakt .grid-container .grid-form form input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 1.5em;
  width: 1.5em;
  border: 1px solid silver;
  background-color: white;
}

section.kontakt .grid-container .grid-form form input[type="checkbox"]:checked {
  background-color: black;
}

section.kontakt .grid-container .center {
  text-align: center;
  width: 100%;
}

section.kontakt p.powrot {
  color: white;
  text-align: center;
  font-size: 18px;
  padding-top: 11px;
  padding-left: 16px;
  padding-bottom: 25px;
}

::-webkit-input-placeholder {
  text-align: right;
  color: lightgray;
  padding-right: 5px;
  font-size: 16px;
}

:-ms-input-placeholder {
  text-align: right;
  color: lightgray;
  padding-right: 5px;
  font-size: 16px;
}

::-ms-input-placeholder {
  text-align: right;
  color: lightgray;
  padding-right: 5px;
  font-size: 16px;
}

::placeholder {
  text-align: right;
  color: lightgray;
  padding-right: 5px;
  font-size: 16px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-loading .slick-list {
  background: white url(./ajax-loader.gif) center center no-repeat;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 100vh;
  display: none;
}

.slick-slide img {
  display: block;
}

.slick-slide img.slick-loading {
  background: white url(./ajax-loader.gif) center center no-repeat;
  padding-bottom: 100%;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 30%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:focus,
.slick-next:focus {
  outline: none;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

footer .slick-prev,
footer .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 30%;
  margin-top: -20px;
  padding: 0;
  border: none;
  outline: none;
}

footer .slick-prev:focus,
footer .slick-next:focus {
  outline: none;
}

footer .slick-prev.slick-disabled:before,
footer .slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: 'Staatliches', cursive;
  font-size: 80px;
  line-height: 1;
  color: black;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.news .slick-prev:before, .news .slick-next:before {
  font-family: 'Staatliches', cursive;
  font-size: 90px;
  line-height: 1;
  color: black;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -80px;
}

.slick-prev:before {
  content: '<';
}

.slick-next {
  right: -55px;
}

.slick-next:before {
  content: '>';
}

footer .slick-prev {
  left: -70px;
}

footer .slick-prev:before {
  content: '<';
}

footer .slick-next {
  right: -60px;
}

footer .slick-next:before {
  content: '>';
}

#aktualnosci .slick-prev {
  left: -86px;
  top: 45%;
}

#aktualnosci .slick-prev:before {
  content: '<';
}

#aktualnosci .slick-next {
  right: -65px;
  top: 45%;
}

#aktualnosci .slick-next:before {
  content: '>';
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px 5px;
  padding: 0px;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2022';
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
}

.content {
  padding-top: 50px;
  width: 40%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .content {
  padding-top: 30px;
  width: 45%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brands div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  vertical-align: middle;
  height: 100%;
}

.brands div img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */